*::after, *::before {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

#wrap {
    width:500px;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

label, input, textarea, button {
    width: 100%;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

label {
    margin: 10px 0 0;
    padding: 6px 0;
    font-weight: bold;
}

input, textarea, button {
    margin:2px 0;
    padding: 6px 12px;
    border:1px solid gray;
}

button {
    font-weight: bold;
}
button[value="add"] {
    background-color: darkseagreen;
}
button[value="update"] {
    background-color: steelblue;
    color: white;
}
button[value="delete"] {
    background-color: indianred;
    color: white;
}

.alert {
    width: 100%;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 6px 0;
}
.alert-error {
    color: indianred;
}
.alert-success {
    color: darkseagreen;
}