{% extends '::base.html.twig' %}


{% block stylesheets %}
    {% stylesheets 'bundles/app/css/base.css' %}
        <link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {#{% javascripts '@AxiomeManagerBundle/Resources/public/js/web.js' output="js/web.js" %}#}
        {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
{% endblock %}

{% block body %}
    <div id="wrap">

        <h3>Ajouter un nouveau site</h3>
        {{ form_errors(formAdd.url) }}

        <form {{ form_enctype(formAdd) }} action="{{ path('site-add') }}" method="post">
            {{ form_widget(formAdd.url) }}
            {{ form_widget(formAdd.btn_add) }}
            {{ form_widget(formAdd._token) }}
        </form>

        {% if formUpdates is not empty %}
            {% include 'AppBundle::site.html.twig' with {'formsU' : formUpdates} %}
        {% endif %}

    </div>
{% endblock %}