{% for formU in formsU %}

    <form {{ form_enctype(formU) }} method="post" action="{{ path('site-update', {'id' : formU.vars.data.id}) }}">
        <label> {{ formU.vars.data.url }} : </label>
        {{ form_widget(formU.title) }}
        {{ form_widget(formU.description) }}
        {{ form_widget(formU.btn_update) }}
        {{ form_widget(formU._token) }}
        <a class="btn-delete" href="{{ path('site-delete', {'id' : formU.vars.data.id}) }}">Supprimer</a>
    </form>

{% endfor %}